<div class="container-fluid">
    <div class="dropdown">
        <div class="dropdown-toggle" (click)="toggleDropdown()">
            Product Categories
        </div>
        <ul class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
            <li *ngFor="let tProductCategory of productCategories" (click)="closeDropdown()">
                <a [routerLink]="['/category', tProductCategory.id]">
                    {{ tProductCategory.categoryName }}
                </a>
            </li>
        </ul>
    </div>
</div>



