<!-- <p>product-details works!</p> -->
<div class="detail-section">
    <div class="container-fluid">
        <img src="{{ products?.imageUrl }}" class="detail-img">
        <h3> {{ products?.name}} </h3>
        <div class="price">
            {{ products?.unitPrice | currency : "INR" }}
        </div>
        <button (click)="addToCart(products!)" class="btn btn-primary sm mt-8" style="background-color: #078743;; font-family:'Courier New', Courier, monospace;font-weight:bolder">Add to Cart</button>
        <hr>
        <h1>Description</h1>
        <h4>{{ products?.description }} </h4>
        <a [routerLink]="[ '/products']" class="primary-btn">Back to Home Page</a>
    </div>
</div>
